
.background-video {
  top: -56px;
  top: 0px;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
.intro-container {
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(48, 48, 48, 0.5);
  object-fit: contain;
  
}
.social-icon-link {
  color: #fff;
  font-size: 32px;
}

.intro-container > h1 {
  color: #fff;
  display: absolute;
  font-size: 100px;
  margin-top: 9rem;
  margin-bottom: 20px;
}

.intro-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    
}

.intro-links {

  width: 50%;
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 24px;
  
}

.intro-links {
  color: white;
}

.intro-btns {
  margin-top: 10rem;
}

.intro-btns .btn {
  margin: 6px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
  color:var(--primary);
}

.btn--large:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .intro-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
  .intro-container > p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .intro-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .intro-container > p {
    font-size: 20px;
  }
  .intro-links {
    font-size: 12px;
    width: 20%;

  }
  .social-icon-link {
    font-size: 20px;

  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    min-width: 100%;
  }
}
